In [113]:
import splinter 
import selenium 
from bs4 import BeautifulSoup
from splinter import Browser
import pandas as pd

In [74]:
#connect the chrome driver
executable_path = {'executable_path': '/usr/local/bin/chromedriver'}
browser = Browser('chrome', **executable_path, headless=False)

In [32]:
#go to the url nasa mars page to web scrape
url = 'https://mars.nasa.gov/news/?page=0&per_page=40&order=publish_date+desc%2Ccreated_at+desc&search=&category=19%2C165%2C184%2C204&blank_scope=Latest'
browser.visit(url)

In [18]:
#get html code from the webpage and parse it 
html = browser.html
soup = BeautifulSoup(html,'html.parser')

#get the first news title and first news summary 
result = soup.find('div',  class_ = 'list_text')

news_title = result.find('a', target = '_self').text
news_p = result.find('div', class_='article_teaser_body').text

In [41]:
#go to the url for the featured image 
url2 = 'https://www.jpl.nasa.gov/spaceimages/?search=&category=Mars'
browser.visit(url2)

In [65]:
#get html code from it 
html2 = browser.html
soup2 = BeautifulSoup(html2,'html.parser')

#get the ending of the url to link to the image 
result2 = soup2.find('article',  class_ = 'carousel_item')
class1 = result2.find('a', class_="button fancybox").text
# Identify and return link to listing
link = result.a['data-fancybox-href']

featured_image_url = 'https://www.jpl.nasa.gov+link'+ link

/spaceimages/images/mediumsize/PIA19101_ip.jpg

In [75]:
# go to the twitter of mars weather 
url3 = 'https://twitter.com/marswxreport?lang=en'
browser.visit(url3)

In [86]:
#get html code from it 
html3 = browser.html
soup3 = BeautifulSoup(html3,'html.parser')

#get the first tweet on the page 
result3 = soup3.find('div',  class_ = 'js-tweet-text-container')
mars_weather = result3.find('p', class_="TweetTextSize TweetTextSize--normal js-tweet-text tweet-text").text

In [107]:
# go to the url to get mars facts
url4 = 'https://space-facts.com/mars/'
browser.visit(url4)

In [119]:
#get html code from it 
html4 = browser.html
soup4 = BeautifulSoup(html4,'html.parser')

#get the first tweet on the page 
result4 = soup4.find('table')
mars_facts = result4.to_html(header = False, index = False)

TypeError: 'NoneType' object is not callable

In [124]:
mars_df = pd.read_html("https://space-facts.com/mars/")[0]
mars_df.columns=["Description", "Value"]
mars_df.set_index("Description", inplace=True)
mars_df

                                              Value
Description
Equatorial Diameter:                       6,792 km
Polar Diameter:                            6,752 km
Mass:                 6.39 × 10^23 kg (0.11 Earths)
Moons:                          2 (Phobos & Deimos)
Orbit Distance:            227,943,824 km (1.38 AU)
Orbit Period:                  687 days (1.9 years)
Surface Temperature:                   -87 to -5 °C
First Record:                     2nd millennium BC
Recorded By:                   Egyptian astronomers

In [123]:
# go to the url to get mars facts
url4 = 'https://space-facts.com/mars/'
browser.visit(url4)

                      0                              1
0  Equatorial Diameter:                       6,792 km
1       Polar Diameter:                       6,752 km
2                 Mass:  6.39 × 10^23 kg (0.11 Earths)
3                Moons:            2 (Phobos & Deimos)
4       Orbit Distance:       227,943,824 km (1.38 AU)
5         Orbit Period:           687 days (1.9 years)
6  Surface Temperature:                   -87 to -5 °C
7         First Record:              2nd millennium BC
8          Recorded By:           Egyptian astronomers